* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-contact {
    height: 64px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
    margin-left: 20px;
    padding: 18px 24px;
    
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    height: 64px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 20px 35px;

}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png') ,url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;

}

/* header & nav styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Banner styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;



}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 20px;
}

.banner-description {

    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;

}